In [20]:
print("Start")

import pandas as pd

data = pd.read_csv("../../../dataset-sis-energy-derived-reanalysis-temperature-country_daily/temp_country_daily.csv", sep=";")

Start

In [21]:
# data.head()
# data.info()

In [22]:
# convert column holding the date from Object to Datetime
data["Date"] = pd.to_datetime(data["Date"])

# resample from daily to week data and aggregate on mean temperature values over the week
# not resample("7D") as before as overflow to following year happens
aggr = data.resample("1W", on="Date").max()

# convert temperature values from Kelvon to Celsius
aggr = aggr - 273.15

In [23]:
# reset index from date value to integer 
aggr = aggr.reset_index()
# get weeknumber as separate column
aggr["weeknumber"] = aggr.Date.dt.isocalendar().week
# get year number as separate column
aggr["year"] = aggr.Date.dt.isocalendar().year

In [24]:
# view data
aggr

,Date,AL,AT,BA,BE,BG,CH,CY,CZ,DE,...,PT,RO,RS,SE,SI,SK,TR,UK,weeknumber,year
0,1979-01-07,9.154236,-6.812777,4.166834,-5.786897,8.727860,-9.283578,14.930218,-9.925675,-8.134158,...,10.222847,4.688500,6.130306,-6.714723,2.036690,-5.274198,7.118590,5.328880,1,1979
1,1979-01-14,5.744473,-3.618325,2.947063,0.651365,5.545860,-3.543287,12.225135,-2.503721,-0.015873,...,9.909316,1.601328,3.342425,-4.425147,-0.083312,-1.518788,1.979045,3.450800,2,1979
2,1979-01-21,-1.667982,-4.607351,-1.850701,0.762575,-1.421279,-3.532006,11.433724,-3.593589,-4.791886,...,9.313576,-4.135590,-3.006128,-8.007209,-3.635998,-4.251382,3.407265,3.966454,3,1979
3,1979-01-28,7.619751,1.394409,11.002527,0.380511,5.661181,-1.151972,12.448242,0.871744,-0.892475,...,10.282220,2.675037,8.220484,-8.726054,8.074102,4.060599,3.719011,-0.149403,4,1979
4,1979-02-04,9.513807,0.423315,8.920367,2.584662,8.616305,-0.847937,12.558130,1.244613,1.806560,...,12.657024,5.099215,9.400162,-10.236364,4.446111,1.735334,5.732353,2.369028,5,1979
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2326,2023-08-06,24.840717,17.296552,24.210565,17.316238,27.793983,16.473865,29.554932,18.293040,17.407422,...,27.974223,26.650445,27.212858,15.420365,21.443416,20.303098,26.868809,15.484960,31,2023
2327,2023-08-13,21.396272,20.575021,19.454593,21.009460,21.935390,18.428288,30.161808,22.326373,20.496633,...,28.742800,20.518615,20.253636,16.620608,21.262938,20.637432,26.919335,19.070083,32,2023
2328,2023-08-20,25.129009,21.590280,22.874418,22.532517,25.200106,20.675338,30.775054,24.418308,23.666362,...,26.092275,25.094641,24.511238,15.853614,23.599640,23.712158,28.172390,17.932242,33,2023
2329,2023-08-27,26.030838,22.918342,25.582354,20.491207,26.359782,21.536800,28.940898,24.604475,22.348831,...,29.744619,25.846718,26.264540,14.582434,25.338588,24.511697,25.449354,16.923861,34,2023
2330,2023-09-03,25.051707,14.430209,24.527981,14.499060,24.807597,11.306697,28.603202,14.563553,14.487229,...,22.575143,26.242225,27.083577,12.859950,20.224385,23.105439,24.349212,14.059820,35,2023

In [25]:
# save result to a csv file
aggr.to_json('temp_country_weekly_max.json', orient='records')